<?php
/**
 * Product list template
 *
 * @var $block \Bss\HelloWorld\Block\Helloworld
 */
?>
<h1>Thông tin cá nhân</h1>
<img src="<?php echo $this->getViewFileUrl('Bss_HelloWorld::image/ava.jpg')?>" />
<br/>
<h5>Nguyễn Tuấn Huy</h5>
<h5>19 tuổi</h5>
<h5>03/08/1998</h5>
<h5>Fresher Developer</h5>
